$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

body {
    background: url("../images/mountain.jpg");
    background-position: 0 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.main-text {
    position: absolute;
    background: rgba(0,0,0,.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Grafolita Script', sans-serif;
    .main-text--headline {
        position: absolute;
        width: 500px;
        height: 200px;
        left: 50%;
        top: 50%;
        margin-top: -100px;
        margin-left: -250px;
        text-align: center;

        font-size: 7rem;
        color: #fff;
        text-shadow: 0 0 10px rgba(0,0,0,.8);

    }

    .main-text--word {
        font-weight: bold;
    }
}